.custom-main-container {
    background-color: darkslateblue;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.custom-login-container {
    background-color: whitesmoke;
    height: 500px;
    width: 500px;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    border-radius: 5%;
    flex-direction: column;
}

.custom-branding-container {
    width: 200px;
    height: 180px;
    border-radius: 25%;
    padding: 40px;
    margin-top: 50px;
    text-align: center;
    background-color: inherit;
    color: darkslateblue;
    text-shadow: 0 0 .5px black;
    display: inline-flex;
}
.custom-branding-container img, h1 {
    align-self: last baseline;
}

.custom-branding-container h1 {
    padding-right: inherit;
    font-weight: bold;
}

.custom-brand-name {
    display: flex;
}

#custom-brand-image {
    width: 100px;
    height: 100px;
}

.custom-login-fields-container {
    display: flex;
}

.custom-row {
    display: inherit;
}